

.clearfix.wrapper {
    text-align: center;
}
button {
    margin: 0 auto;
    margin-top: 36%;
    width: 11%;
    height: 56px;
    border: solid 2px #ffffff ;
    background-color: #202528;
    color:#ffffff;
    margin-bottom: 60px; 
}
