

.clearfix.wrapper {
    text-align: center;
    margin-top: 36%;
}
button {
    margin: 0 auto;
    width: 11%;
    height: 50px;
    border: solid 2px #ffffff ;
    background-color: #202528;
    color:#ffffff;
    margin-bottom: 60px; 
}
.disableButton {
    display: none;
}