<body [ngClass]="bgClasses">

        <app-join (featureSelected)="pageStage($event)" >
        </app-join>

        <app-user-details (featureSelected)="pageStage($event)" 
        *ngIf="(loadedFeature === 'details') || (loadedFeature === 'type') || (loadedFeature === 'artists')">
        </app-user-details>

        <app-music-type  
        (typeSelected)="typeStage($event)"
        (featureSelected)="pageStage($event)"  
         *ngIf="loadedFeature === 'type' || (loadedFeature === 'artists')">
        </app-music-type>

         <app-artists-type  (featureSelected)="pageStage($event)" 
         *ngIf="loadedFeature === 'artists'"
         [musicType]="type">
         </app-artists-type>
</body>
