* {
    padding: 0;
    margin: 0;
}
body {
    padding-bottom: 10px;
    padding: 15px;
    margin: 15px;
    position: relative;
}


.bg1 {
    background-image: url("/assets/loginbg/bg1.png");  
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg2 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg2.png');  
}

.bg3 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg3.png');  
}
.bg4 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg4.png');  
}
.bg5 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg5.png');  
}
.bg6 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg6.png');  
}
.bg7 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg7.png');  
}
.bg8 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/loginbg/bg8.png');  
}

#userName {
    display: flex;
}

#userName h1 {
    margin: auto;
    color: #fff;
    margin-top: 12%; 
}

