<body [ngClass]="bgClasses" class="row">

        <app-join (featureSelected)="pageStage($event)" >
        </app-join>

        <app-user-details (featureSelected)="pageStage($event)" 
        *ngIf="(loadedFeature === 'details') || 
        (loadedFeature === 'type')           || 
        (loadedFeature === 'artists')        || 
        (loadedFeature === 'pass')"
        (userDetails)="setUserDetails($event)">
        </app-user-details>

        <app-music-type  
        (typeSelected)="typeStage($event)"
        (featureSelected)="pageStage($event)"  
         *ngIf="loadedFeature === 'type' || (loadedFeature === 'artists') || (loadedFeature === 'pass')">
        </app-music-type>

         <app-artists-type  
         (featureSelected)="pageStage($event)" 
         *ngIf="loadedFeature === 'artists' || 
         (loadedFeature === 'pass')"
         [musicType]="type"
         (selectedArtists)="selectedArtistsByUser($event)">
         </app-artists-type >
         <div id="userName" *ngIf="loadedFeature === 'pass'">
            <h1>{{userDetails.name}}</h1>
         </div>
        <app-password  
         *ngIf="loadedFeature === 'pass'"
         (userPassword)="setPassword($event)">
        </app-password>
</body>
