header{
    color: #ffffff;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 1em;
}

.col.right {
    float:right;
}


#logo {
    content: url('/assets/header_logo.png');
    width: 90px;
    height: 40px;
}

#search {
    background-image:url('/assets/search.png');
    background-repeat:no-repeat;
    background-position:left center;outline:0;
    background-color: #303437;
    padding-left: 25px;
    float:left;
    border: none;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

@media (min-width: 1400px) {
    header{
        margin-top: 2em;
    }
}
