header{
    color: #ffffff;
}

section {

}

.col.right {
    float:right;
}

.clear {
    clear:both;
}

#logo {
    content: url('/assets/header_logo.png');
    width: 90px;
    height: 40px;
}

#search {
    background-image:url('/assets/search.png');
    background-repeat:no-repeat;
    background-position:left center;outline:0;
    background-color: #303437;
    padding-left: 25px;
    float:left;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
}
