.container{ 
    width: 55%;
    margin-left: 26%;
}

#name{
    color: #ffffff;
}

#done{
    width: 20%;
    background-color: #373b3e;
    border-color: #ffffff;
    color:#ffffff;
    margin-left:37%;
    margin-top:5.5%;  
    border-radius: 20px;
}

#artists {
    cursor: pointer;
}

img{
    width: 8vw;
}