<div class="container">
    <div class="row title">
        <div class="col-md-6 col-md-offset-2">
            <h2><span>~ </span>{{mix.name}}<span> ~</span></h2>
        </div>
        <div class="col-md-6 col-md-offset-2" >
            <div class="row">
                <p class="col"><span>הפלייליסט שלי</span></p>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2" >
            <div class="row">
                <div class="col">
                    <p>יצרנו לכם מיקס של 21 שירים ע"פ הנתונים שאספנו אתם יכולים להוסיף עוד או
                    להוריד לפי בחירתכם</p> 
                </div>
            </div><!-- row -->    
        </div>
    </div><!-- row title -->
</div>