

body {
    background-color: #202528;
    height: 100%;
    width: 100%;
    padding-top: 15px;
}

#decorations {
    background-image: url('/assets/decorations.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}

table{
    color: #ffffff;
}

#simillar{
    border-color: #fbb040;
    border-style: solid;
    border-width: 5px;
    margin-top: 8em;
    margin-bottom: 6em;
    color:#ffffff;
    text-align: center;
}

#artists{
    width: 125px;
    height: 125px;
}

