#wrapper {
    /*position: absolute;*/
    width: 50%;
    height: 50%;
    margin: 0 auto; 
    margin-top:26.5%;
}

#name {
<<<<<<< HEAD
    /*position: absolute;*/
    background-image: url('/assets/redpoint.png');
    width: 35.8%;
=======
    position: relative;
    background-image: url('http://shenkar.html5-book.co.il/2016-2017/rs/dev_188/assets/redpoint.png');
    width: 35.9%;
    height: 28px;
>>>>>>> angulardd
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #373b3e;
    margin: 0 auto;
    margin-left:43.5%;
    margin-top: 7%;  
    padding-right:  10%;
    border-radius: 0px;
    border: 0;
    text-align: right;
    color:#ffffff;
    font-size: 100%;
}

#year {
    /*position: absolute;*/
    background-position: right center;
    margin: 0 auto;
    width: 100%;
    height: 100%;  
    margin-left:45%;
    margin-top:5%;
}

#number {
    /*position: absolute;*/
    width: 7%;
    margin-right: 2%;
    background-color: #373b3e;  
    border-radius: 0px;
    border-color: #fbb040;
    color:#ffffff;
    padding:  0;
     font-size: 100%;
}


#mail {
    /*position: absolute;*/
    width: 46%;
    height: 0%;
    background-image: url('http://shenkar.html5-book.co.il/2016-2017/rs/dev_188/assets/redpoint.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #373b3e;
    margin: 0 auto;
    margin-left:29.6%;
    margin-top: 3%;  
    padding-right:  10%;
    border-radius: 0px;
    border: 0;
    text-align: right;
    color:#ffffff;
}


#continue{
   /* position: absolute;*/
    width: 15%;
    height: 0%;
    background-color: #373b3e;
    border-color: #ffffff;
    color:#ffffff;
    margin-left:20%;
    margin-top:4%;
    border-radius: 10%;
     font-size: 100%;
}


.disableButton {
    display: none;
}