#wrapper {
    width: 450px;
    height: 300px;
    margin: 0 auto; 
    margin-top:20.3%;
}

#name {
    background-image: url('/assets/redpoint.png');
    width: 220px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #373b3e;
    margin: 0 auto;
    margin-left:40.5%;
    margin-top: -0.5%;
    padding-right:  50px;
    border-radius: 0px;
    border: 0;
    text-align: right;
    color:#ffffff;
}

#year {
    background-position: right center;
    margin: 0 auto;
    width: 200px;
    height: 40px;  
    margin: 0 auto;  
    margin-left:45%;
    margin-top:5%;
}

#number {
    width: 38px;
    height:35px;
    margin-right: 20px;
    background-color: #373b3e;  
    border-radius: 0px;
    border-color: #fbb040;
    color:#ffffff;
    padding:  0;
}

#mail {
    background-image: url('/assets/redpoint.png');
    width: 280px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #373b3e;
    margin: 0 auto;
    margin-left:22.3%;
    margin-top:3.5%;  
    padding-right:  50px;
    border-radius: 0px;
    border: 0;
    border-bottom: #ffffff 2px;
    text-align: right;
    color:#ffffff;
}

#continue{
    width: 100px;
    height: 35px;
    background-color: #373b3e;
    border-color: #ffffff;
    color:#ffffff;
     margin-left:20%;
     margin-top:3.5%;  
}
