<div class="clearfix" id="wrapper">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="name" placeholder="שם + שם משפחה">
                </div>
                <label class="form-inline" id="year">
                  <select class="form-control"  id="number">
                    <option>00</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <select class="form-control" id="number">
                    <option>00</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <select class="form-control" id="number">
                    <option>00</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="name" placeholder="Email">
                </div>
              </div>
              <input type="submit"> 
            </form>
</div>
   

