<div class="container">
        <div class="row">
            <div class="col-md-3 anArtist" *ngFor="let artist of artists">
                <div class="row">
                    <img class="col" id="artists" src={{artist.photo}}>
                </div>
                <div class="row">
                    <span class="col">{{artist.name}}</span>
                </div>
                <div class="row ">
                    <img class="col icons" src="./assets/artists/like1.png">
                    <img class="col icons" src="./assets/artists/playtiny.png" (click)="playDemo(artist.name)">
                    <img class="col icons" src="./assets/artists/add.png" (click)="addSongToPlaylist(artist.name)">
                </div>
            </div>
        </div><!-- row -->
</div>