.container {
    margin-top: 5em;
    width: 70%;
}

#artists{
    width: 130px;
    height: 130px;
}

.anArtist {
    margin-top: 2%;
}

.row{
    text-align: center;
}

.icons {
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
}

span {
    color: #fff;
    margin: auto;
}