#player{
    background:url('http://shenkar.html5-book.co.il/2016-2017/rs/dev_188/assets/player/player.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 470px;
    width: 810px;
}

.buttons {
    display: flex;
    padding-left: 18em;
    padding-right: 18em;
    padding-top: 5em;
}

.data {
    display: flex;
    color: #fff;
    /*padding-left: 25em;*/
    padding-top:1em;
}

.data .col {
    margin: auto;
}

img{
    border:0;
    margin: auto;
    cursor: pointer;
}

.container{
    margin: 0;
    padding: 0
}

/*@media (max-width: 1601) {
    #player {
        background:url('/assets/player/player.png');
        background-size: 100%;
        background-repeat: no-repeat;

        height: 350px;
        width: 450px
    }
}*/
