<body class="container">
    <div id="decorations">
        <app-header></app-header>
        <div class="row">
            <div class="col">
                <app-player-header
                [userEmail]="userEmail">   
                </app-player-header>
            </div>
        </div><!-- header row -->
        <div class="row mainWrapper">
            <div class="col-md-9 col-lg-9">
                <player-main 
                    *ngIf="loadedSection === 'list'" 
                    (songList)="setSongList($event)"
                    (playThisSong)="switchSong($event)"
                    [addArtist]="artistName"
                    [userEmail]="userEmail"
                    [otherUserMix]="otherUserMix"
                    [resetPlayList]="resetPlayList">    
                </player-main>
                <app-player
                    *ngIf="loadedSection ==='player'"
                    (playSong)="play($event)"
                    (pauseSong)="pause($event)"
                    (nextSong)="next($event)"
                    (prevSong)="prev($event)"
                    [currentSong]="songlist[currentSong]"
                    >   
                </app-player>
            </div>
            <div class="col-md-3 col-lg-3" id="sideNav" >
                <app-player-nav 
                (sectionSelected)="onNav($event)"></app-player-nav>
            </div>
        </div><!-- main wrapper row -->
        <div class="row">
           <div class="col-md-6 col-md-offset-1">
                 <span id="moreArtistsMsg1">אמנים דומים בסגנון</span>
           </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span id="moreArtistsMsg2">את/ה יכול להוסיף אמנים חדשים למיקסטייפ שלך או ליצור מיקס חדש לגמרי ע"י הוספה והסרה</span>
            </div>
        </div><!-- row -->
        <div class="row" id="similarArtists">
            <div class="col">
                <app-similar-artists
                (artistSelected)="addArtist($event)"
                (artistPlayDemo)="playDemo($event)"
                ></app-similar-artists>
            </div>
        </div><!-- similar artists row -->
         <div class="row">
           <div class="col-md-6 col-md-offset-1">
                 <span id="moreArtistsMsg1">מיקסטייפים פופולרים</span>
           </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span id="moreArtistsMsg2">מיקסטייפים של גולשים אחרים בסגנון דומה, ניתן לשמוע או להוסיף למועדפים</span>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col">
                <app-similar-mixes
                (otherMix)="addOtherMix($event)"></app-similar-mixes>
            </div>
        </div>
    </div>
</body>