#wrapper {
    width: 23%;
    height: 500px;
    margin: 0 auto; 
    margin-top:20.5%;
}
#InputPassword {
    width: 100%;
    background-color: #373b3e;
    margin: 0 auto;
    border-radius: 0px;
    border: 0;
    text-align: center;
    color:#ffffff;
}


button {
    background-image: url('/assets/send.png');
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    background-color: #202528;
    background-position: center;
    border:0;
    margin: 0 auto;
}
