#wrapper {
    width: 40vw;
    height: 500px;
    margin: 0 auto; 
    margin-top:70vh;
}
#exampleInputPassword3 {
    width: 23vw;
    height: 28px;
    background-color: #373b3e;
    margin: 0 auto;
    margin-top: 30px;  
    padding-right:  50px;
    border-radius: 0px;
    border: 0;
    text-align: right;
    color:#ffffff;
}
#username {

    
}

button {
    background-image: url('/assets/send.png');
    width: 17.2vw;
    height: 90px;
    background-repeat: no-repeat;
    background-color: #202528;
    background-position: center;
    margin-top: 2vh; 
    margin-left: 12vw;
    border:0;
}
