        <div class="row" id="table-wrapper">
            <div class="col" id="table-scroll">
                <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>לייקים</th>
                        <th>זמן</th>
                        <th>שיר</th>
                        <th>זמר</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let song of songs; let i = 'index + 1'">
                        <td><button type="button" class="btn btn-warning btn-xs" aria-label="Right Align" (click)="removeSong(song.id)">
                                הסר <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> 
                            </button>    
                        </td>
                        <td>{{song.likes}}</td>
                        <td>{{song.duration}}</td>
                        <td>{{song.name}}</td>
                        <td>{{song.artist}}<span>.{{i}}</span></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>