table {
    color: #ffffff;
    text-align: right;
}

td {
    text-align: right;
}

th {
    color:#fbb040;
    text-align: right;
}

tr {
    padding:2em;
}

td > span{
    float: right;
    padding-left: 3px;
}

.remove{
    color:#515557;
}