table {
    color: #ffffff;
    text-align: right;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    overflow: auto;
    height: 16em;
}

.fixed-header {
    position: absolute;
    padding-right: 1em;
    background: #202528;
}

td {
    text-align: right;
}

th {
    color:#fbb040;
    text-align: right;
}

tr {
    padding:2em;
}

td > span{
    float: right;
    padding-left: 3px;
}

.remove{
    color:#515557;
}